<p>
  Hi <%= @restaurant.user.email %>,
</p>

<p>
	Your restaurant
	<strong>
		<%= link_to @restaurant.name, restaurant_url(@restaurant) %>		
	</strong>
	 was created!
</p>

<p>
	
</p>

<p>
	Bisous
</p>
